{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
<div>
  <div class="card">
    <div class="d-flex justify-content-center">
      <div class="connecting-line"></div>
      <div class="connecting-line"></div>
    </div>
    <ul class="wizzard px-5 pb-3 list-group list-group-horizontal d-flex justify-content-between">
      <li class="list-group-item wizzard-active">1</li>
      <li class="list-group-item">2</li>
      <li class="list-group-item">3</li>
    </ul>

    <span class="title">Escolha seu estado</span>
    <span class="subtitle">
      Informando seu doíicílio eleitoral, poderemos listar todas as deputadas e deputados.
    </span>

    <dmc-form>
      <form class="pt-3" method="POST">
        {% csrf_token %}

        {% render_field form.state class="form-select form-select-lg mb-3" %}
        
        <button type="submit" class="btn btn-block btn-purple">Escolher</button>
      </form>
    </dmc-form>
  </div>
</div>
{% endblock content %}