{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="card">
    <div class="d-flex justify-content-center">
      <div class="connecting-line visited"></div>
      <div class="connecting-line"></div>
    </div>
    <ul class="wizzard px-5 pb-3 list-group list-group-horizontal d-flex justify-content-between">
      <li class="list-group-item wizzard-visited">
        <img src="{% static 'img/icons/done.svg' %}">
      </li>
      <li class="list-group-item wizzard-active">2</li>
      <li class="list-group-item">3</li>
    </ul>

    <span class="title">Escolha a deputada ou deputado</span>
    <span class="subtitle">
      Para melhor distribuir a pressão, dê preferência a primeira ou primeiro da lista.
    </span>

    <ul class="list-group pt-3">
      <li class="list-group-item d-flex p-3">
        <img src="{% static 'img/icons/insert_emoticon.svg' %}">
        <div class="flex-column flex-grow-1 pl-3">
          <a href="{% url 'contact-politician' %}" class="title pb-0 stretched-link">Cosmin Negoita</a>
          <div class="subtitle">PMDB</div>
        </div>
        <div>
          <div class="badge-contact-wrap">
            <span class="badge rounded-pill badge-contact d-flex">
              <img src="{% static 'img/icons/contact.svg' %}">
              <span class="number">0</span>
            </span>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex p-3">
        <img src="{% static 'img/icons/insert_emoticon.svg' %}">
        <div class="flex-column flex-grow-1 pl-3">
          <a href="{% url 'contact-politician' %}" class="title pb-0 stretched-link">Cosmin Negoita</a>
          <div class="subtitle">PMDB</div>
        </div>
        <div>
          <div class="badge-contact-wrap">
            <span class="badge rounded-pill badge-contact d-flex">
              <img src="{% static 'img/icons/contact.svg' %}">
              <span class="number">0</span>
            </span>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex p-3">
        <img src="{% static 'img/icons/insert_emoticon.svg' %}">
        <div class="flex-column flex-grow-1 pl-3">
          <a href="{% url 'contact-politician' %}" class="title pb-0 stretched-link">Cosmin Negoita</a>
          <div class="subtitle">PMDB</div>
        </div>
        <div>
          <div class="badge-contact-wrap">
            <span class="badge rounded-pill badge-contact d-flex">
              <img src="{% static 'img/icons/contact.svg' %}">
              <span class="number">12</span>
            </span>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex p-3">
        <img src="{% static 'img/icons/insert_emoticon.svg' %}">
        <div class="flex-column flex-grow-1 pl-3">
          <a href="{% url 'contact-politician' %}" class="title pb-0 stretched-link">Cosmin Negoita</a>
          <div class="subtitle">PMDB</div>
        </div>
        <div>
          <div class="badge-contact-wrap">
            <span class="badge rounded-pill badge-contact d-flex">
              <img src="{% static 'img/icons/contact.svg' %}">
              <span class="number">18</span>
            </span>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex p-3">
        <img src="{% static 'img/icons/insert_emoticon.svg' %}">
        <div class="flex-column flex-grow-1 pl-3">
          <a href="{% url 'contact-politician' %}" class="title pb-0 stretched-link">Cosmin Negoita</a>
          <div class="subtitle">PMDB</div>
        </div>
        <div>
          <div class="badge-contact-wrap">
            <span class="badge rounded-pill badge-contact d-flex">
              <img src="{% static 'img/icons/contact.svg' %}">
              <span class="number">343</span>
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
{% endblock content %}