{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="card">
    <div class="d-flex justify-content-center">
      <div class="connecting-line visited"></div>
      <div class="connecting-line"></div>
    </div>
    <ul class="wizzard px-5 pb-3 list-group list-group-horizontal d-flex justify-content-between">
      <li class="list-group-item wizzard-visited">
        <a href="{% url 'choose-state' %}" class="stretched-link">
          <img src="{% static 'img/icons/done.svg' %}">
        </a>
      </li>
      <li class="list-group-item wizzard-active">2</li>
      <li class="list-group-item">3</li>
    </ul>

    <span class="title">Escolha a deputada ou deputado</span>
    <span class="subtitle">
      Para melhor distribuir a pressão, dê preferência a primeira ou primeiro da lista.
    </span>

    <ul class="list-group pt-3">
      {% for politician in politician_list %}
        <li class="list-group-item d-flex p-3">
          <img src="{% static 'img/icons/insert_emoticon.svg' %}">
          <div class="flex-column flex-grow-1 pl-3">
            <a href="{% url 'contact-politician' state=state politician_id=politician.id %}" class="title pb-0 stretched-link">
              {{ politician }}
            </a>
            <div class="subtitle">{{ politician.political_party }}</div>
          </div>
          <div>
            <div class="badge-contact-wrap">
              <span class="badge rounded-pill badge-contact d-flex">
                <img src="{% static 'img/icons/contact.svg' %}">
                <span class="number">{{ politician.contacts }}</span>
              </span>
            </div>
          </div>
        </li>  
      {% endfor %}
    </ul>
  </div>
{% endblock content %}