{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="card">
    <div class="d-flex justify-content-center">
      <div class="connecting-line visited"></div>
      <div class="connecting-line visited"></div>
    </div>
    <ul class="wizzard px-5 pb-3 list-group list-group-horizontal d-flex justify-content-between">
      <li class="list-group-item wizzard-visited">
        <img src="{% static 'img/icons/done.svg' %}">
      </li>
      <li class="list-group-item wizzard-visited">
        <img src="{% static 'img/icons/done.svg' %}">
      </li>
      <li class="list-group-item wizzard-active">3</li>
    </ul>

    <div class="title">Contatar: Cosmin Negoita</div>
    <div class="subtitle">
      Escolha uma forma de contato e envie a mensagem você mesmo.
    </div>

    <div class="pt-4">
      <div class="title">Conheça os formatos</div>
      <div class="subtitle">
        O Telemob informa os contatos das deputadas e deputados, mas não envia a mensagem automaticamente.
      </div>
        
      <ul class="list-group pt-3">
        <li class="list-group-item d-flex p-3">
          <img src="{% static 'img/icons/insert_emoticon.svg' %}">
          <div class="flex-column pl-3">
            <div class="title pb-0">Telefonar</div>
            <div class="subtitle">Pressão interagindo por telefone é a mais forte.</div>
          </div>
        </li>
        <li class="list-group-item d-flex p-3">
          <img src="{% static 'img/icons/insert_emoticon.svg' %}">
          <div class="flex-column pl-3">
            <div class="title pb-0">Telegrama</div>
            <div class="subtitle">Você envia online e a carteira ou carteiro entrega em mãos.</div>
          </div>
        </li>
        <li class="list-group-item d-flex p-3">
          <img src="{% static 'img/icons/insert_emoticon.svg' %}">
          <div class="flex-column pl-3">
            <div class="title pb-0">Fax</div>
            <div class="subtitle">Fax tem mais chance de ser lido do que e-mail.</div>
          </div>
        </li>
        <li class="list-group-item d-flex p-3">
          <img src="{% static 'img/icons/insert_emoticon.svg' %}">
          <div class="flex-column pl-3">
            <div class="title pb-0">E-mail</div>
            <div class="subtitle">E-mail tem mais chance de ser ignorado.</div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="title">Informações</div>

    <ul class="list-group pt-3">
      <li class="list-group-item d-flex p-3">
        <img src="{% static 'img/icons/insert_emoticon.svg' %}">
        <div class="flex-column flex-grow-1 pl-3">
          <div class="title pb-0">Cosmin Negoita</div>
          <div class="subtitle">PMDB</div>
        </div>
        <div>
          <div class="badge-contact-wrap">
            <span class="badge rounded-pill badge-contact d-flex">
              <img src="{% static 'img/icons/contact.svg' %}">
              <span class="number">0</span>
            </span>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <div class="title pb-1">Telefone</div>
            <div class="subtitle">0-xx-61-3215-5417</div>
          </div>
          <div class="col">
            <div class="title pb-1">Fax</div>
            <div class="subtitle">0-xx-61-3215-2417</div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col">
            <div class="title pb-1">E-mail</div>
            <div class="subtitle">dep.benesleocadio@camara.leg.br</div>
          </div>
        </div>

        <div class="row pt-3">
          <div class="col">
            <div class="title pb-1">Endereço</div>
            <div class="subtitle">
              Deputado(a) Cosmin Negoita<br />
              Câmara dos Deputados<br />
              Edifício Anexo 4, gabinete 417<br />
              Brasília - DF - CEP 70160-900<br />
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card">
    <div class="title">O que falar ao telefone</div>

    <ul class="list-group">
      <li class="list-group-item d-flex p-3">
        <div class="flex-column">
          <div class="title pb-0">Argumento #1</div>
          <div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
      </li>
      <li class="list-group-item d-flex p-3">
        <div class="flex-column">
          <div class="title pb-0">Argumento #2</div>
          <div class="subtitle">Donec semper tincidunt massa, in tincidunt nisi fermentum sed.</div>
        </div>
      </li>
      <li class="list-group-item d-flex p-3">
        <div class="flex-column">
          <div class="title pb-0">Argumento #3</div>
          <div class="subtitle">Maecenas vitae pharetra massa. Nullam non facilisis mauris.</div>
        </div>
      </li>
    </ul>

    <div class="row pt-3">
      <div class="col">
        <a href="{% url 'choose-politician' %}" class="btn btn-block btn-purple">Ligar agora</a>
      </div>
      <div class="col">
        <a href="{% url 'choose-politician' %}" class="btn btn-block btn-purple">Enviar E-mail</a>
      </div>
    </div>
  </div>

  <div class="pt-4 pb-5 px-3">
    <a href="{% url 'report-contact' %}" class="btn btn-block btn-green">Registrar contato</a>
  </div>
{% endblock content %}