{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="card">
    <div class="d-flex justify-content-center">
      <div class="connecting-line visited"></div>
      <div class="connecting-line visited"></div>
    </div>
    <ul class="wizzard px-5 pb-3 list-group list-group-horizontal d-flex justify-content-between">
      <li class="list-group-item wizzard-visited">
        <a href="{% url 'choose-state' %}" class="stretched-link">
          <img src="{% static 'img/icons/done.svg' %}">
        </a>
      </li>
      <li class="list-group-item wizzard-visited">
        <a href="{% url 'choose-politician' state %}" class="stretched-link">
          <img src="{% static 'img/icons/done.svg' %}">
        </a>
      </li>
      <li class="list-group-item wizzard-active">3</li>
    </ul>

    <div class="title">Contatar: {{ politician }}</div>
    <div class="subtitle">
      Escolha uma forma de contato e envie a mensagem você mesmo.
    </div>

    <div class="pt-4">
      <div class="title">Conheça os formatos</div>
      <div class="subtitle">
        O Telemob informa os contatos das deputadas e deputados, mas não envia a mensagem automaticamente.
      </div>
        
      <ul class="list-group pt-3">
        <li class="list-group-item d-flex p-3">
          <img src="{% static 'img/icons/insert_emoticon.svg' %}">
          <div class="flex-column pl-3">
            <div class="title pb-0">Telefonar</div>
            <div class="subtitle">Pressão interagindo por telefone é a mais forte.</div>
          </div>
        </li>
        <li class="list-group-item d-flex p-3">
          <img src="{% static 'img/icons/insert_emoticon.svg' %}">
          <div class="flex-column pl-3">
            <div class="title pb-0">Telegrama</div>
            <div class="subtitle">Você envia online e a carteira ou carteiro entrega em mãos.</div>
          </div>
        </li>
        <li class="list-group-item d-flex p-3">
          <img src="{% static 'img/icons/insert_emoticon.svg' %}">
          <div class="flex-column pl-3">
            <div class="title pb-0">Fax</div>
            <div class="subtitle">Fax tem mais chance de ser lido do que e-mail.</div>
          </div>
        </li>
        <li class="list-group-item d-flex p-3">
          <img src="{% static 'img/icons/insert_emoticon.svg' %}">
          <div class="flex-column pl-3">
            <div class="title pb-0">E-mail</div>
            <div class="subtitle">E-mail tem mais chance de ser ignorado.</div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="title">Informações</div>

    <ul class="list-group pt-3">
      <li class="list-group-item d-flex p-3">
        <img src="{% static 'img/icons/insert_emoticon.svg' %}">
        <div class="flex-column flex-grow-1 pl-3">
          <div class="title pb-0">{{ politician }}</div>
          <div class="subtitle">{{ politician.political_party }}</div>
        </div>
        <div>
          <div class="badge-contact-wrap">
            <span class="badge rounded-pill badge-contact d-flex">
              <img src="{% static 'img/icons/contact.svg' %}">
              <span class="number">{{ politician.contacts }}</span>
            </span>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <div class="title pb-1">Telefone</div>
            <div class="subtitle">{{ politician.pretty_phone }}</div>
          </div>
          <div class="col">
            <div class="title pb-1">Fax</div>
            <div class="subtitle">{{ politician.pretty_fax }}</div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col">
            <div class="title pb-1">E-mail</div>
            <div class="subtitle">{{ politician.email }}</div>
          </div>
        </div>

        <div class="row pt-3">
          <div class="col">
            <div class="title pb-1">Endereço</div>
            <div class="subtitle">
              Deputado(a) {{ politician }}<br />
              Câmara dos Deputados<br />
              Edifício Anexo {{ politician.annex }}, gabinete {{ politician.chamber }}<br />
              Brasília - DF - CEP 70160-900
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card">
    <div class="title">O que falar ao telefone</div>

    <ul class="list-group">
      {% for argument in campaign.argument_set.all %}
        <li class="list-group-item d-flex p-3">
          <div class="flex-column">
            <div class="title pb-0">Argumento #{{ forloop.counter }}</div>
            <div class="subtitle">{{ argument }}</div>
          </div>
        </li>
      {% endfor %}
    </ul>

    <div class="row pt-3">
      <div class="col">
        <a href="#" class="btn btn-block btn-purple">Ligar agora</a>
      </div>
      <div class="col">
        <a href="#" class="btn btn-block btn-purple">Enviar E-mail</a>
      </div>
    </div>
  </div>

  <div class="pt-4 pb-5 px-3">
    <a href="{% url 'report-contact' state politician.id %}" class="btn btn-block btn-green">
      Registrar contato
    </a>
  </div>
{% endblock content %}