{% extends 'base.html' %}

{% load static %}

{% block content %}
<div>
    {% if not messages %}
    <h3>Passo ➀➋➂ - Escolha o deputado para você contatar</h3>
    {% endif %}

    <p><b>Atenção:</b> Para melhor distribuir a pressão, dê preferência ao primeiro da lista.</p>
    <table class="table table-striped table-bordered table-condensed table-centered">
        <thead>
            <tr>
                <th class="text-right col-sm-1">Partido</th>
                <th class="text-left col-sm-10">Nome ou apelido</th>
                <th id="count-contacts" class="text-right col-sm-1">
                    {{ total_contacts }}
                    Contato{{ total_contacts|pluralize }} reportado{{ total_contacts|pluralize }}
                </th>
            </tr>
        </thead>
        <tbody>
        {% for politician in politician_list %}
            <tr>
                <td class="text-right">{{ politician.political_party }}</td>
                <td class="text-left"><a href="{% url 'report_contact' campaign.id politician.id %}">{{ politician.parliamentary_name }}</a></td>
                <td class="text-right pol-contacts">{{ politician.contacts }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/politician.js' %}"></script>
{% endblock js %}
