{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
<div>
  <div class="card">
    <div class="d-flex justify-content-center">
      <div class="connecting-line visited"></div>
      <div class="connecting-line visited"></div>
    </div>
    <ul class="wizzard px-5 pb-3 list-group list-group-horizontal d-flex justify-content-between">
      <li class="list-group-item wizzard-visited">
        <a href="{% url 'choose-state' %}" class="stretched-link">
          <img src="{% static 'img/icons/done.svg' %}">
        </a>
      </li>
      <li class="list-group-item wizzard-visited">
        <a href="{% url 'choose-politician' state %}" class="stretched-link">
          <img src="{% static 'img/icons/done.svg' %}">
        </a>
      </li>
      <li class="list-group-item wizzard-visited">
        <a href="{% url 'contact-politician' state politician.id %}" class="stretched-link">
          <img src="{% static 'img/icons/done.svg' %}">
        </a>
      </li>
    </ul>

    <span class="title">Registro de contato</span>
    <span class="subtitle text-danger">
      * Reporte apenas contatos efetivados ou tentativas de ligação que você realmente fez.
    </span>
    <span class="subtitle pt-3">
      Informe como entrou em contato com o parlamentar e o que aconteceu.
    </span>

    <dmc-form>
      <form class="pt-3" method="POST">
        {% csrf_token %}

        {% for field in form.visible_fields %}
          <div class="form-group mb-3 {% if field.errors %}text-danger{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-select form-select-lg' }}
            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
        {% endfor %}

        <div class="pt-3">
          <button type="submit" class="btn btn-block btn-green">
            Registrar Contato
          </button>
        </div>
      </form>
    </dmc-form>
  </div>
</div>
{% endblock content %}