{% load static %}

{% load pwa %}

<!DOCTYPE html>
<html lang="pt-BR" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'img/ico.png' %}">
    {% progressive_web_app_meta %}

    <title>{% block title %}Telemob{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link data-turbolinks-track="true" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link data-turbolinks-track="true" href="{% static 'css/project.css' %}" rel="stylesheet">

    {% block css %}{% endblock css %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script data-turbolinks-track="true" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/turbolinks.js' %}"></script>
    <script type="text/javascript">
      (function() {
        Turbolinks.start()
      });
    </script>

    <script defer async  data-turbolinks-track="true" src="{% static 'js/jquery-ujs.js' %}"></script>
    <script defer async data-turbolinks-track="true" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script defer async data-turbolinks-track="true" src="{% static 'js/contact.js' %}"></script>

    {% block js %}{% endblock js %}
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-black fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/telemob-logo-fundo-preto.png' %}" width="150px" />
          </a>
          <div  class="d-flex">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'about' %}">Sobre</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="flex-shrink-0">
      <div class="container py-5">
        {% for message in messages %}
          <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %}" role="alert">
            {{ message }}
          </div>
        {% endfor %}

        {% block content %}{% endblock content %}
      </div>
    </main><!-- /.container -->

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">
          Telemob é um sistema para ajudar a sociedade civil a pressionar deputadas, deputados, senadoras e senadores no Congresso Nacional.
          <br />
          Sua motivação inicial é facilitar a pressão popular pela aprovação do Marco Civil da Internet, otimizando e distribuindo a pressão entre todos os congressistas.
        </span>
      </div>
    </footer>

    {% if GTM_CONTAINER %}
      <!-- Google Tag Manager -->
      <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ GTM_CONTAINER }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ GTM_CONTAINER }}');</script>
      <!-- End Google Tag Manager -->
    {% endif %}
  </body>
</html>
